html,
body {
  height: 90%;
}

body {
  text-align: center;
  background-image: url("../images/trivia-bg-1.png");
  background-repeat:initial;
}

#wrapper {
  text-align: center;
  width: 960px;
  height: 95%;
  box-sizing: border-box;
  margin: 2.5% auto;
  background-color: paleturquoise;
 
}

#subwrapper {
  /* position: relative; */
  top: 15%;
 margin-bottom: 15%;
 
}

button {
  /* display: block; */
  width: 100%;
  height: 20%;
  /* margin: 0, auto; */
  padding:5px;
  font-size: 30px;
  cursor: pointer;
  background: green;
  border: blue, solid,25px;
}

img {
  height: fit-content;
}

h1 {
  padding-top: 2.5%;
  font-family: Geo, sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color:green;
  background-image:url("../images/Trivia-folio.jpeg");
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
 
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: red;
}

#start {
  margin-top: 10%;
  background:blue;
  border: 2px solid blue;
  color: white;
 font-weight: bold;
}

#reset {
 color: white;
 font-weight: bold;
  
}


button:hover {
  background:green;
  border: 2px solid blue;
}

