html,
body {
  height: 90%;
}

body {
  text-align: center;
  background-image: url("../images/trivia-bg.jpeg");
}

#wrapper {
  text-align: center;
  width: 960px;
  height: 95%;
  box-sizing: border-box;
  margin: 2.5% auto;
  background-color:blanchedalmond;
}

#subwrapper {
  position: relative;
  top: 15%;
 margin-bottom: 15%;
}

button {
  display: block;
  width: 50%;
  height: 20%;
  margin: 0, auto;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 15px;
}

img {
  height: 300px;
}

h1 {
  padding-top: 2.5%;
  font-family: Geo, sans-serif;
  font-size: 6.5em;
  font-weight: bold;
  color:green;
  background-image:url("../images/Trivia-folio.jpeg");
}

h2 {
  margin-bottom: 25px;
  font-size: 35px;
}

h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

#start {
  margin-top: 10%;
  background:blue;
  border: 2px solid blue;
}

button:hover {
  background:green;
  border: 2px solid blue;
}

